<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" 
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
  <!--
    32-bit installer
    
    Example installation (command-line):
      msiexec /i Redis-Windows-x64.msi LOGLEVEL=verbose
  -->
  <Product Id="*" Name="Redis on Windows" Language="1033" Version="1.0.0.0" Manufacturer="MSOpenTech" UpgradeCode="{05410198-7212-4FC4-B7C8-AFEFC3DA0FBC}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="ARPURLINFOABOUT" Value="https://github.com/MSOpenTech/redis" />
    <Property Id="LOGLEVEL" Value="verbose" />

    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="redis_background.jpg"/>
    <WixVariable Id="WixUIBannerBmp" Value="top_banner.jpg"/>

    <Feature Id="ProductFeature" Title="Redis" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="DocumentationComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Redis-Windows" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>