*.o
*.rdb
*.log
src/redis-cli
src/redis-server
src/redis-benchmark
src/redis-check-dump
src/redis-check-aof
doc-tools
mkrelease.sh
release
myredis.conf
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
redis.conf.*
release.h
src/transfer.sh
src/configs
src/redis-server.dSYM
