.*.swp
*.o
*.rdb
*.log
src/redis-cli
src/redis-server
src/redis-benchmark
src/redis-check-dump
src/redis-check-aof
doc-tools
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
src/redis-server.dSYM
redis.ds
src/redis.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
.make-*
.prerequisites
