[submodule "deps/rocksdb"]
	path = deps/rocksdb
	url = https://github.com/ctripcorp/rocksdb.git
[submodule "deps/xredis-gtid"]
	path = deps/xredis-gtid
	url = https://github.com/ctripcorp/xredis-gtid.git
