*.log
*.user
*.exe
*.sdf
*.suo
*.bin
*.tlog
*.filters
*.opensdf
Install/obj/*
Install/bin/*
Install/Debug/*
Install/Release/*
RedisWatcher/Debug/*
RedisWatcher/Release/*
Debug/*
Release/*
RedisWatcher/RedisWatcher.h
RedisWatcher/RedisWatcher.rc
