<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" 
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
  <!--
    32-bit installer
    
    Example installation (command-line):
      default install:
        msiexec /i Redis-Windows-x64.msi 
        
      set port and turn on firewall exception:
        msiexec /i Redis-Windows-x64.msi PORT=1234 FIREWALL_ON=""
      
      set port and turn off firewall exception:
        msiexec /i Redis-Windows-x64.msi PORT=1234 FIREWALL_ON=1
        
      
  -->
  <Product Id="*" 
           Name="Redis on Windows" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="MSOpenTech" 
           UpgradeCode="{05410198-7212-4FC4-B7C8-AFEFC3DA0FBC}">
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!--User interface hook-->
    <UIRef Id="CustomInstallDir"/>
    
    <!--Custom actions-->
    <Binary Id="RedisCustomActionsDLL" SourceFile="$(var.RedisWindowsX64.CustomActions.TargetDir)RedisWindowsX64.CustomActions.CA.dll" />
    <CustomAction Id="ca_UpdateRedisConfig" BinaryKey="RedisCustomActionsDLL" DllEntry="UpdateRedisConfig" Execute="deferred" Return="check" />
    <SetProperty Id="ca_UpdateRedisConfig" Value="CONFIG_PATH=[#file_redis_windowsCONF];PORT=[PORT]" Sequence="execute" Before="ca_UpdateRedisConfig" />
    
    <InstallExecuteSequence>
      <Custom Action="ca_UpdateRedisConfig" After="InstallFiles"><![CDATA[NOT Installed]]></Custom>
    </InstallExecuteSequence>
    
    <!--Properties-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/MSOpenTech/redis" />
    <Property Id="PORT" Value="6379" />
    <Property Id="FIREWALL_ON" Value="1" />
    
    <!--Link-time variables-->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="Images/redis_background.jpg"/>
    <WixVariable Id="WixUIBannerBmp" Value="Images/top_banner.jpg"/>
    <WixVariable Id="DocumentationFolder" Value="..\..\setups\documentation"/>

    <!--Features-->
    <Feature Id="ProductFeature" Title="Redis" Level="1">
      <ComponentGroupRef Id="FileComponents" />
      <ComponentGroupRef Id="WindowsServiceComponents" />
      <ComponentGroupRef Id="DocumentationComponents" />
    </Feature>
  </Product>

  <Fragment>
    <!--Directory structure to create-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Redis-Windows" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>