body {
    font-family: 'Verdana';
    width:800px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

h1 {
    font-size: 20px;
}

.codeblock {
    color: darkgreen;
    padding:5px;
}

h1.wikiname {
    color: #f55000;
}
